*.pyc
*.log
node_modules
coverage/
test_76/logs
test_76/export_deliverables
test_76/cantaloupe/*
test_76/staticfiles
test_76/media/packages
test_76/media/build/
test_76/uploadedfiles/*
test_76/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
